.approve-user {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  height: 100%;
  justify-content: center;
  & > * {
    margin-bottom: 2rem;
  }

  .button {
    width: min-content;
  }
}