.team-circle-join {
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: rebeccapurple;
  padding: 1rem;
  margin-right: 0.7rem;
  height: 0.75rem;
  width: 0.75rem;
  text-align: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  .create-team {
    text-transform: uppercase;
    position: relative;
    top: -4px;
    font-size: 2rem;
    line-height: 1;
  }
}