@import "../../scss/colors";

.custom-button {
  background: transparent;
  border: 2px solid #5b5b5b;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px;

  cursor: pointer;

  &:hover {
    &.__success {
      background-color: rgba($green, 0.2);
      transition: 0.2s;
    }
    &.__error {
      background-color: rgba(red, 0.2);
      transition: 0.2s;
    }
  }
  &:focus {
    outline: none;
    &.__success {
      border: 2px solid $green;
    }
    &.__error {
      border: 2px solid rgba(red, 0.2);
    }
  }

  &.__loading {
    cursor: not-allowed;
    border: 2px solid rgba($green, 0.2);
    &:hover {
      background-color: transparent;
    }
  }

  &.__success {
    color: $green;
  }

  &.__error {
    color: red;
  }

  .loading-circles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    animation: loader-circle 8s linear infinite;
    .loading-circle {
      background-color: $green;
      width: 26px;
      height: 26px;
      border-radius: 50%;
    }
  }
}

@keyframes loader-circle {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(900deg);
  }
  100% {
    transform: rotateY(1800deg);
  }
}