.icon-button {
  background: transparent;
  height: 40px;
  width: 40px;
  color: white;
  border: none;
  transition: 0.3s;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background: #5b5b5b;
  }
  svg {
    height: 24px;
    width: 24px;
  }
}