@import "../../../scss/colors";

.team-circle {
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: rebeccapurple;
  padding: 1rem;
  margin-right: 0.7rem;
  height: 0.75rem;
  width: 0.75rem;
  text-align: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  .team-name {
    text-transform: uppercase;
    position: relative;
    font-size: 1.25rem;
    line-height: 1;
  }

  .username {
    text-transform: uppercase;
    position: relative;
    font-size: 1.25rem;
    line-height: 1;
  }

  &.__active {
    border: 2px solid $green;
    height: calc(0.75rem - 2px);
    width: calc(0.75rem - 2px);
  }
}