.chore-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;

  .chore-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    & > * {
      color: #5b5b5b;
    }

    .chore-title {
      background: transparent;
      border: none;
      font-size: 1.1rem;

      &:focus {
        outline: none;
      }
    }

    .chore-user-data {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      .by-user-name {
        font-size: 0.8rem;
        cursor: default;
      }

      .for-user-name {
        font-size: 0.8rem;
        cursor: default;
      }
    }
  }
}

.chore-description {
  display: flex;
  margin: 0 0.5rem;
  p {
    margin: 0;
    color: #5b5b5b;
    font-size: 1rem;
    width: 100%;
    text-align: initial;
  }
}

.chore-actions {
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  color: white;
  & > * {
    margin-right: 1rem;
  }
}