@import "../../scss/colors";
.top-util-bar {
  width: 100%;
  background-color: #000;
  height: 3rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.75rem;
  padding: 0.3rem;
  -webkit-box-shadow: 5px 5px 8px 0 rgba(127, 127, 127, 0.75);
  -moz-box-shadow: 5px 5px 8px 0 rgba(127, 127, 127, 0.75);
  box-shadow: 5px 5px 8px 0 rgba(127, 127, 127, 0.75);

  .team-search {
    color: white;
    background-color: $background;
    height: 0.5rem;
  }

  .team-overview {

  }
  .search-result {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 3.1rem;
    background: rgb(29, 29, 29);
    width: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .result-item {
      cursor: pointer;
      margin: 0.2rem 0;
      padding: 0.5rem;
      &:hover {
        background-color: rgb(127, 127, 127);
      }
    }
  }
  .logout {
    position: absolute;
    right: 2rem;
    &:hover {
      cursor: pointer;
    }
    svg {
      font-size: 1.75rem;
      path {
        stroke: white;
      }
    }
  }
}