.create-team-form {
  display: flex;
  flex-direction: column;
  input, textarea {
    margin-bottom: 1.2rem;
  }
  p {
    position: relative;
    top: -0.9rem;
  }
  button {
    margin-bottom: 2rem;
  }
}