.authed-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .top-bar {
    width: auto;
    padding-left: 1rem;
  }

  .user-chores {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 55%;
    margin: 3rem auto auto;
  }
}