.register-form {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  input {
    margin-bottom: 1.2rem;
  }
  p {
    position: relative;
    top: -0.9rem;
  }
}