@import "../../scss/colors";

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  z-index: 1000;
  backdrop-filter: blur(1px);

  .modal-body {
    -webkit-box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.75);
    box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.75);
    padding: 0.5rem 1rem;
    background-color: $background;
    display: flex;
    flex-direction: column;

    .modal-content {}

    .modal-buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .modal-close {
        padding: 5px;
        font-size: 1rem;
      }
    }
  }
}