@import "../../scss/colors";

.chore-card {
  display: flex;
  flex-direction: column;
  height: min-content;
  background-color: #1e1e1e;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.75rem 1rem;
  -webkit-box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.75);
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.75);

  &.__started {
    border-left: 5px solid $stickyYellow;

  }

  &.__not-started {
    border-left: 5px solid grey;
  }

  &.__completed {
    border-left: 5px solid $green;
  }
}