@import "../../scss/colors";

.custom-input {
  padding: 15px;
  font-size: 1.25rem;
  background: transparent;
  border: 2px solid $borderGrey;
  border-radius: 8px;
  color: #5b5b5b;
  text-decoration: none;
  transition: 0.3s;

  &:focus {
    outline: none;
    border-color: $green;
  }

  &.__errored {
    border: 2px solid $errorRed;
  }
}

.error-message {
  margin: 0;
  color: $errorRed;
}
