/*https://coolors.co/2e5266-6e8898-9fb1bc-d3d0cb-e2c044*/
@import "./scss/colors";

body, html {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
}

body * {
  font-family: 'Quicksand', sans-serif;
}
