@import "../../scss/colors";

.login-form {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  input {
    margin-bottom: 1.2rem;
  }
  p {
    position: relative;
    top: -0.9rem;
  }

  .register-acc {
    margin-top: 0.7rem;
    text-align: center;
    text-decoration: none;
    color: lightskyblue;
    transition: 0.3s;

    &:hover {
      color: $green;
    }
  }
}