@import "../../../scss/colors";

.add-chore-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;

  .chore-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    & > * {
      color: #5b5b5b;
    }

    .chore-title {
      background: transparent;
      border: none;
      font-size: 1.1rem;

      &:focus {
        outline: none;
      }
    }

    .user-name {
      font-size: 0.8rem;
      cursor: default;
    }
  }
}

.add-chore-description {
  display: flex;
  margin: 0 0.5rem;
  .chore-description-input {
    color: #5b5b5b;
    background: transparent;
    border: none;
    font-size: 1rem;
    resize: vertical;
    width: 100%;
    min-height: 50px;
    &:focus {
      outline: none;
    }
  }
}

.add-chore-select-team {
  display: flex;
  flex-direction: row;
  margin: 0.25rem 0.5rem;
  gap: 0.5rem;
  select {
    cursor: pointer;
    color: white;
    border: none;
    background: transparent;
    &:focus {
      outline: none;
    }
    .assign-option {
      color: black;
    }
  }
  .assign-to {
    color: white;
    font-size: 0.8rem;
    cursor: default;
  }
}

.submit-chore {
  height: auto;
  button {
    &:focus {
      outline: none;
    }
    height: 35px;
    width: 35px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    svg {
      color: $green;
      height: 100%;
      width: auto;
    }
  }
}
